.HeaderWrapperLight {
    background-color: var(--white);
    height: 12vh;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--grey);
    border-left: none;
}
.HeaderWrapperDark {
    background-color: var(--dark-grey);
    height: 12vh;
    padding: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--grey);
    border-left: none;
}
.HeaderTitleLight{
    color: var(--black)
}
.HeaderTitleDark{
    color: var(--white)
}
.HeaderSecRight{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.AddTaskBtn{
    border-radius: var(--round-border) !important;
    color: var(--white);
    border: 0 !important;
    background-color: var(--blue) !important;
    padding: 8px 20px;
    text-align: center;
}
.BoardActions{
    height: 20px;
    cursor: pointer;
}